/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#top-bar {
    background-color: #800020;
    border-bottom-color: #610000;
}

#top-bar .container {
    width: 95%;
}

#top-social li a {
    color: whitesmoke;
}
#top-social li { border-left-color: #610000; }

#top-bar .top-links li > a {
    display: block;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    height: 44px;
    color: whitesmoke;
}
#top-bar .welcome span {
    display: block;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    height: 44px;
    color: whitesmoke;
}
#top-bar .top-links li:hover {
    background-color: #610000;
}

#top-bar .top-links ul li {
    float: left;
    position: relative;
    height: 44px;
    border-left: 1px solid #610000;
}

#header.sticky-header #header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #800020;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.txt-lg {
    font-size: large;
}
.txt-md {
    font-size: medium;
}
.txt-sm {
    font-size: small;
}

/* home page */

.advanced-real-estate-tabs {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}
._720kb-datepicker-calendar {
    bottom: 40px;
}
.tcc-home-panel .panel-heading {
    background-color: #800020;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.tcc-home-panel .panel-body {
    text-align: justify;
    font-size: 16px;
}
.tcc-home-panel .panel-body .button-wrapper {
    text-align: center;
}
.tcc-home-panel .panel-body button {
    background-color: #800020;
    border-color: #6b1808;
}
/* end */

.tcc-img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.7);
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    width: 400px;
    height: 64px;
    text-align: center;
    padding-top: 7px;
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase;
}
.tcc-img-overlay span {
    display: block;
    font-size: 15px;
    margin-top: 5px;
}

/* Booking Page */
table.uib-timepicker {
    margin: auto;
}

/* checkout page */
.balanceDue {
    color: red;
}
.balancePaid {
    color: #1ABC9C;
}