<script src="node_modules/angular/angular.min.js"></script>

<!-- Plugins -->
<script src="node_modules/angular-input-masks/releases/angular-input-masks-dependencies.min.js"></script>
<script src="node_modules/angular-input-masks/releases/angular-input-masks.min.js"></script>
<script src="node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>

<!-- Core -->
<script src="angular/shared/plugins.module.js"></script>
<script src="angular/shared/state-select/state-select.directive.js"></script>
<script src="angular/shared/daterange/daterange.directive.js"></script>

<!-- Activities -->
<script src="angular/booking/booking.module.js"></script>
<script src="angular/booking/booking.controller.js"></script>

<script src="angular/caroler-dashboard/caroler-dashboard.module.js"></script>
<script src="angular/caroler-dashboard/caroler-dashboard.controller.js"></script>

<script src="angular/customer-events/customer-events.module.js"></script>
<script src="angular/customer-events/customer-events.controller.js"></script>

<script src="angular/invite/invites.controller.js"></script>
<script src="angular/market-carolers/market-carolers.controller.js"></script>
<script src="angular/market-events/market-events.controller.js"></script>
<script src="angular/markets-manage/markets-manage.controller.js"></script>

<script src="angular/market-edit/market-edit.module.js"></script>
<script src="angular/market-edit/market-edit.controller.js"></script>

<script src="angular/market-page/market-page.module.js"></script>
<script src="angular/market-page/market-page.controller.js"></script>

<script src="angular/market-search/market-search.module.js"></script>
<script src="angular/market-search/market-search.controller.js"></script>

<script src="angular/profile/profile.module.js"></script>
<script src="angular/profile/profile.controller.js"></script>

<script src="angular/app.module.js"></script>