<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

<!-- Plugins -->
<script src="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="/node_modules/angular-input-masks/releases/angular-input-masks-dependencies.min.js"></script>
<script src="/node_modules/angular-input-masks/releases/angular-input-masks.min.js"></script>
<script src="/node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
<script src='/bower_components/angular-file-model/angular-file-model.js'></script>

<!-- Core -->
<script src="/app/shared/shared.module.js"></script>
<script src="/app/shared/state-select/state-select.directive.js"></script>
<script src="/app/shared/select/selectpicker.directive.js"></script>
<script src="/app/shared/daterange/daterange.directive.js"></script>
<script src="/app/shared/event/event-details.directive.js"></script>

<!-- Activities -->
<script src="/app/booking/booking.module.js"></script>
<script src="/app/booking/booking.controller.js"></script>

<script src="/app/caroler-dashboard/caroler-dashboard.module.js"></script>
<script src="/app/caroler-dashboard/caroler-dashboard.controller.js"></script>

<script src="/app/customer-events/customer-events.module.js"></script>
<script src="/app/customer-events/customer-events.controller.js"></script>

<script src="/app/market-carolers/market-carolers.module.js"></script>
<script src="/app/market-carolers/market-carolers.controller.js"></script>

<script src="/app/markets-manage/markets-manage.module.js"></script>
<script src="/app/markets-manage/markets-manage.controller.js"></script>

<script src="/app/market-edit/market-edit.module.js"></script>
<script src="/app/market-edit/market-edit.controller.js"></script>

<script src="/app/market-page/market-page.module.js"></script>
<script src="/app/market-page/market-page.controller.js"></script>

<script src="/app/market-search/market-search.module.js"></script>
<script src="/app/market-search/market-search.controller.js"></script>

<script src="/app/profile/profile.module.js"></script>
<script src="/app/profile/profile.controller.js"></script>

<script src="/app/home/home.module.js"></script>
<script src="/app/home/home.controller.js"></script>

<script src="/app/promos/promos.module.js"></script>
<script src="/app/promos/promos.controller.js"></script>

<script src="/app/resellers/resellers.module.js"></script>
<script src="/app/resellers/resellers.controller.js"></script>

<script src="/app/market-events/market-events.module.js"></script>
<script src="/app/market-events/market-events.controller.js"></script>

<script src="/app/market-directors/market-directors.module.js"></script>
<script src="/app/market-directors/market-directors.controller.js"></script>

<script src="/app/invite-redeem/invite-redeem.module.js"></script>
<script src="/app/invite-redeem/invite-redeem.controller.js"></script>

<script src="/app/login-register/login-register.module.js"></script>
<script src="/app/login-register/login-register.controller.js"></script>

<script src="/app/caroler-register/caroler-register.module.js"></script>
<script src="/app/caroler-register/caroler-register.controller.js"></script>

<script src="/app/reset-password/reset-password.module.js"></script>
<script src="/app/reset-password/reset-password.controller.js"></script>

<script src="/app/payments/payments.module.js"></script>
<script src="/app/payments/payments.controller.js"></script>

<script src="/app/event-single/event-single.module.js"></script>
<script src="/app/event-single/event-single.controller.js"></script>

<script src="/app/app.module.js"></script>