<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_one_third">

                <div class="widget clearfix">

                    <img src="images/tcc-logo.png" alt="" class="footer-logo">

                </div>

            </div>

            <div class="col_one_third">

                <div class="widget clearfix">
                    <div>
                        <abbr title="Phone Number"><strong>Phone:</strong></abbr> 844-922-7653<br>
                        <abbr title="Email Address"><strong>Email:</strong></abbr> info@thechristmascarolers.com
                        <br><br>
                        <div class="bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">Resellers</a></li>
                                <li><a href="#">Have a Caroling Group?</a></li>
                                <li><a href="#">Become a Caroler</a></li>
                                <li><a href="#">National Caroler Association</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="widget clearfix">

                    <a href="#" class="social-icon si-small si-rounded si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-rounded si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                </div>

            </div>

            <div class="col_one_third col_last">

                <div class="widget quick-contact-widget clearfix">

                    <h4>Send Message</h4>

                    <div class="quick-contact-form-result"></div>

                    <form onsubmit="sendContact(this); return false;" class="quick-contact-form nobottommargin">

                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input class="required form-control input-block-level"
                                   name="name"
                                   placeholder="Full Name">
                        </div>
                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-email2"></i></span>
                            <input type="email" class="required form-control email input-block-level"
                                   name="email" value=""
                                   placeholder="Email Address">
                        </div>
                        <textarea class="required form-control input-block-level short-textarea"
                                  name="message" rows="4" cols="30"
                                  placeholder="Message"></textarea>
                        <input class="hidden" id="quick-contact-form-botcheck"
                               name="quick-contact-form-botcheck">
                        <button type="submit" class="btn btn-danger nomargin" value="submit">Send Email
                        </button>

                    </form>

                </div>

            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &#xA9; 2017 All Rights Reserved by Christmas
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <div class="copyrights-menu copyright-links nobottommargin">
                        <a href="#">All Rights Reserved</a>/<a href="#">Privacy Policy</a>/<a href="#">Terms of
                        Use</a>/<a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer>