<!-- Top Bar
		============================================= -->
<div id="top-bar" class="tcc_if_caroler tcc_if_admin tcc_if_director">

    <div class="container clearfix">

        <div class="col_half nobottommargin">

            <div class="welcome">
                <span>Welcome back, <b class="tcc_name"> <!--Dynamic --></b>!</span>
            </div>

        </div>

        <div class="col_half fright col_last nobottommargin">
            <div class="top-links">
                <ul>
                    <li><a href="javascript:navService.goto('manage_markets')">Markets</a></li>
                    <li><a href="#">Directors</a></li>
                    <li><a href="#">Carolers</a></li>
                    <li><a href="javascript:navService.goto('my_events')">My Events</a></li>
                </ul>
            </div>
        </div>

    </div>

</div><!-- #top-bar end -->