<section id="page-title" class="page-title-center">
    <div class="container clearfix">
        <h1>Get an Instant Quote</h1>
        <span>No Account Necessary</span>
    </div>
</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div id="processTabs">
                <ul class="process-steps bottommargin clearfix">
                    <li>
                        <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                        <h5>Event Details</h5>
                    </li>
                    <li>
                        <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                        <h5>Travel Fees</h5>
                    </li>
                    <li>
                        <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                        <h5>Your Quote</h5>
                    </li>
                    <li>
                        <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                        <h5>Book Online Now</h5>
                    </li>
                </ul>
                <div>
                    <div id="ptab1">
                        <div class="container clearfix">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <form name="findMarketForm" novalidate
                                          ng-class="{ 'has-error' : findMarketForm.market.$invalid && !findMarketForm.market.$pristine }">
                                        <h3>Find a Market: </h3>
                                        <input ng-model="market"
                                               name="market"
                                               uib-typeahead="mkt as mkt.name for mkt in markets | filter:{name:$viewValue} | limitTo:8"
                                               class="sm-form-control" required>
                                        <p ng-show="findMarketForm.market.$invalid && !findMarketForm.market.$pristine"
                                           class="help-block">A market is required</p>
                                    </form>
                                    <br/>
                                    <!--<div class="fancy-title title-dotted-border title-center">-->
                                    <!--<h3 ng-bind="market.name"></h3>-->
                                    <!--</div>-->
                                    <div ng-show="market.id" class="col_full">
                                        <img ng-src="{{market.image}}" width="100%">
                                    </div>
                                    <div class="center">
                                        <input ng-model="multiple_events" id="checkbox-4" class="checkbox-style" type="checkbox">
                                        <label for="checkbox-4" class="checkbox-style-1-label">
                                            I will book multiple events this season
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Event Details</h3>

                                    <p>Please provide as much information as you&apos;re able about your event</p>

                                    <form id="details_form" name="details_form" class="nobottommargin">
                                        <div id="quote-details" style="width: 458px;">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Date:</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <datepicker date-format="yyyy-MM-dd">
                                                        <input ng-model="bind_date" class="sm-form-control"
                                                               placeholder="Click Me!"/>
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Start Time</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div uib-timepicker ng-model="bind_start" ng-change="updateTimes()"
                                                         hour-step="1" minute-step="15" show-meridian="true"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Event Duration</label>
                                                    <p>(Hours)</p>
                                                </div>
                                                <div class="col-sm-6" id="btns-event-length">
                                                    <tcc-number-inc bind="bind_duration"
                                                                    min="1" max="10" change="updateTimes"></tcc-number-inc>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 center">
                                                    <div class="btn-group">
                                                        <label ng-hide="!market.hasConfig(1)"
                                                               class="btn btn-danger" ng-model="booking.caroler_config"
                                                               uib-btn-radio="'trio_stb'"
                                                               uib-popover="3 Carolers" popover-trigger="'mouseenter'">Trio
                                                            (S,T,B)</label>
                                                        <label ng-hide="!market.hasConfig(1)"
                                                               class="btn btn-danger" ng-model="booking.caroler_config"
                                                               uib-btn-radio="'trio_sab'"
                                                               uib-popover="3 Carolers" popover-trigger="'mouseenter'">Trio
                                                            (S,A,B)</label>
                                                        <label ng-hide="!market.hasConfig(3)"
                                                               class="btn btn-danger" ng-model="booking.caroler_config"
                                                               uib-btn-radio="'quartet'"
                                                               uib-popover="4 Carolers"
                                                               popover-trigger="'mouseenter'">Quartet</label>
                                                        <label ng-hide="!market.hasConfig(4)"
                                                               class="btn btn-danger" ng-model="booking.caroler_config"
                                                               uib-btn-radio="'sixtet'"
                                                               uib-popover="6 Carolers"
                                                               popover-trigger="'mouseenter'">Sextet</label>
                                                        <label ng-hide="!market.hasConfig(5)"
                                                               class="btn btn-danger" ng-model="booking.caroler_config"
                                                               uib-btn-radio="'octet'"
                                                               uib-popover="8 Carolers"
                                                               popover-trigger="'mouseenter'">Octet</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <a href ng-click="stepToTravel()"
                                           class="button button-3d nomargin fright tab-linker">Next:
                                            Travel
                                            Expenses
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ptab2">
                        <div class="container clearfix">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <form name="travel_form" id="travel_form" class="nobottommargin">
                                        <div class="col_half">
                                            <label>State: </label>
                                            <tcc-state-select bind="booking.state"></tcc-state-select>
                                        </div>

                                        <div class="col_half col_last">
                                            <label>City: </label>
                                            <input ng-model="booking.city" required id="city" type="text"
                                                   class="form-control">
                                        </div>

                                        <div class="col_full">
                                            <label for="address">Venue Address: </label>
                                            <input ng-model="booking.address" required id="address" type="text"
                                                   class="form-control">
                                        </div>
                                        <p id="location-coordinates" style="display: none; margin-top: 10px;">
                                            <small id="latitude-text"><em>Latitude:</em></small> &#xB7;
                                            <small id="longitude-text"><em>Longitude:</em></small>
                                        </p>
                                        <button ng-click="previewTravelCosts()" type="button" class="btn btn-info">
                                            <i class="icon-map-marker"></i>
                                            Update Address
                                        </button>
                                    </form>
                                    <br>
                                    <br>
                                    <div id="google-map-custom" class="gmap" style="height: 300px;"></div>

                                </div>
                                <div class="col-md-6 travel_cost_breakdown">
                                    <h3>Mileage and Time</h3>
                                    <p>Your event location is <b ng-bind="travelPreview.metrics.distance">___</b>
                                        miles from where
                                        our carolers are located and the estimated travel time is <b
                                                ng-bind="travelPreview.metrics.duration">___</b> minutes</p>
                                    <p>The Christmas Carolers charges $2 for every mile over 30 miles from the
                                        starting point. $<b ng-bind="travelPreview.costs.distance">___</b> will
                                        be added to your invoice for
                                        mileage. The Christmas Carolers also charges $60 per hour of travel over 30
                                        minutes. $<b ng-bind="travelPreview.costs.duration">___</b> will be
                                        added to your
                                        invoice for extra travel time.</p>
                                    <h3>Toll Roads</h3>
                                    <p>The lead caroler will estimate the amount for toll roads as they travel to
                                        this booking.</p>
                                    <h3>Parking</h3>
                                    <p>Please provide us with an overview of where the carolers will be able to
                                        park.</p>
                                    <h3>Other Expenses</h3>
                                    <p>Please let us know if there are any other expenses we should anticipate.</p>
                                </div>
                            </div>
                        </div>

                        <div class="line"></div>
                        <a ng-click="stepTo(0)" href class="button button-3d nomargin">Previous</a>
                        <a ng-click="stepToReview()" href class="button button-3d nomargin fright tab-linker">Review
                            Booking</a>
                    </div>
                    <div id="ptab3">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="table-responsive clearfix">
                                    <div class="fancy-title title-double-border">
                                        <h3>Your Event </h3>
                                    </div>

                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <th>Date</th>
                                            <td>{{inv_date}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>Time</th>
                                            <td>{{inv_start+' - '+inv_end}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>Caroler Config</th>
                                            <td>{{booking.caroler_config}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>Type</th>
                                            <td>{{booking.type}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>State</th>
                                            <td>{{booking.state}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>City</th>
                                            <td>{{booking.city}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <th>Address</th>
                                            <td>{{booking.address}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div ng-if="booking.getPromoData().length > 0"
                                         class="fancy-title title-double-border">
                                        <h3>Promos and Discounts</h3>
                                    </div>
                                    <div class="col_full">
                                        <table class="table">
                                            <tr ng-repeat="promo in booking.promo_codes">
                                                <td><i class="icon-checkmark"></i></td>
                                                <td ng-bind="promo.name"></td>
                                                <td><label ng-bind="promo.code" class="label label-success"></label>
                                                </td>
                                                <td><a ng-click="removePromo(promo)" href>x</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        Have a coupon? <a ng-click="applyPromo()" href="">Click
                                        here to enter your code</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <h4>Cart Totals</h4>

                                    <table class="table cart">
                                        <tbody>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Caroler Cost</strong>
                                            </td>

                                            <td class="cart-product-name">
                                                $ <span ng-bind="invoice.carolers + invoice.date" class="amount"></span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Travel Fees</strong>
                                            </td>

                                            <td class="cart-product-name">
                                                $<span ng-bind="invoice.travel" class="amount">
														</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Promos</strong>
                                            </td>

                                            <td class="cart-product-name">
                                                $<span ng-bind="invoice.discounts" class="amount">
														</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Total</strong>
                                            </td>

                                            <td class="cart-product-name">
														<span class="amount color lead">
															$<strong ng-bind="invoice.total">
															</strong>
														</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="accordion clearfix">
                                    <div class="acctitle">
                                        <i class="acc-closed icon-ok-circle"></i>
                                        <i class="acc-open icon-remove-circle"></i>
                                        Payment Policy
                                    </div>
                                    <div class="acc_content clearfix">
                                        We ask that you please make your payment 30 days prior to your event, as it
                                        takes time to put together the right caroling team.
                                    </div>

                                    <div class="acctitle">
                                        <i class="acc-closed icon-ok-circle"></i>
                                        <i class="acc-open icon-remove-circle"></i>
                                        Security
                                    </div>
                                    <div class="acc_content clearfix">
                                        Your security is important to us. All transactions are handled by reputable
                                        third-party service providers
                                        over an encrypted connection, and a payment details are never saved.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <a ng-click="stepTo(1)" href="" class="button button-3d nomargin">Previous</a>
                        <a ng-click="handleBookIt()" href="" class="button button-3d nomargin fright">Book It!</a>
                    </div>
                    <div id="ptab4">

                        <h3>We just need a few more details!</h3>

                        <div class="col-md-6">
                            <div ng-hide="booked">
                                <form name="bookingForm" ng-submit="submitForm(bookingForm.$valid)" novalidate>
                                    <div class="col_full"
                                         ng-class="{ 'has-error' : bookingForm.eventName.$invalid && !bookingForm.eventName.$pristine }">
                                        <label>Event Name: </label>
                                        <input ng-model="booking.name" name="eventName" required class="form-control">
                                        <p ng-show="bookingForm.eventName.$invalid && !bookingForm.eventName.$pristine"
                                           class="help-block">An event name is required.</p>
                                    </div>

                                    <div class="col_half">
                                        <label>Type of Event</label>
                                        <tcc-select-picker bind="booking.type"
                                                           options="eventTypes"></tcc-select-picker>
                                    </div>

                                    <div class="col_half col_last">
                                        <label>Event Details</label>
                                        <select ng-model="booking.details" class="selectpicker" multiple>
                                            <option value="Only Outside">Only Outside</option>
                                            <option value="Only Inside">Only Inside</option>
                                            <option value="Mix of Inside and Outside">Mix of Inside and
                                                Outside
                                            </option>
                                            <option value="Expect Freezing Weather">Expect Freezing Weather
                                            </option>
                                            <option value="Carolers should welcome guests">Carolers should
                                                welcome guests
                                            </option>
                                            <option value="Carolers should stroll">Carolers should stroll
                                            </option>
                                            <option value="Carolers are to be background music">Carolers are to
                                                be background music
                                            </option>
                                            <option value="Carolers are to be on stage">Carolers are to be on
                                                stage
                                            </option>
                                        </select>
                                    </div>

                                    <!-- Conditionals
                                    ========================-->
                                    <div ng-if="booking.type=='company'" class="col_full">
                                        <label>Company Name: </label>
                                        <input ng-model="booking.company_name" type="text"
                                               class="sm-form-control">
                                    </div>
                                    <div ng-if="booking.type=='public'" class="col_full">
                                        <label>Venue Name: </label>
                                        <input ng-model="booking.venue_name" type="text"
                                               class="sm-form-control">
                                    </div>

                                    <div class="col_full">
                                        <label for="special-requests">Special Requests
                                            <small>*</small>
                                        </label>
                                        <textarea ng-model="booking.special_requests" class="sm-form-control"
                                                  id="special-requests" name="shipping-form-message" rows="6"
                                                  cols="30"></textarea>
                                    </div>

                                    <div id="promo-wrapper">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                Have a coupon? <a ng-click="applyPromo()" href="">Click
                                                here to enter your code</a>
                                            </div>
                                        </div>
                                        <div ng-if="booking.getPromoData().length > 0"
                                             class="fancy-title title-double-border">
                                            <h3>Promos and Discounts</h3>
                                        </div>
                                        <div class="col_full">
                                            <table class="table">
                                                <tr ng-repeat="promo in booking.promo_codes">
                                                    <td><i class="icon-checkmark"></i></td>
                                                    <td ng-bind="promo.name"></td>
                                                    <td><label ng-bind="promo.code" class="label label-success"></label>
                                                    </td>
                                                    <td><a ng-click="removePromo(promo)" href>x</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- ---------- after booking -------- -->
                            <div ng-if="booked">
                                <div class="alert alert-success">
                                    <strong>Thank You!</strong> Your event is booked! Please submit payment by 30 days
                                    prior to the booking.
                                </div>

                                <h3>What Now?</h3>
                                <a ng-href="payments.php?event={{booking.id}}&mode=full" type="button"
                                   class="btn btn-outline btn-info">
                                    Pay Now </a>
                                <a ng-href="payments.php?event={{booking.id}}&mode=half" type="button"
                                   class="btn btn-outline btn-info">
                                    Make Deposit </a>
                                <a href="/events-personal.php" type="button" class="btn btn-outline btn-info"> Go to My
                                    Events </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive clearfix">
                                <div class="fancy-title title-double-border">
                                    <h3>Your Event </h3>
                                </div>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <th>Name</th>
                                        <td>{{booking.name}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Date</th>
                                        <td>{{inv_date}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Time</th>
                                        <td>{{inv_start+' - '+inv_end}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Caroler Config</th>
                                        <td>{{booking.caroler_config}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Type</th>
                                        <td>{{booking.type}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>State</th>
                                        <td>{{booking.state}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>City</th>
                                        <td>{{booking.city}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Address</th>
                                        <td>{{booking.address}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Special Requests</th>
                                        <td>{{booking.special_requests}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th>Other Details</th>
                                        <td>
                                            <ul>
                                                <li ng-repeat="detail in booking.details" ng-bind="detail"></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="txt-md">
                                        <td></td>
                                        <th><b>Total</b></th>
                                        <td class="cart-product-name">
                                            <span class="amount color lead">
                                                $<strong ng-bind="invoice.total"></strong>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a ng-click="handleConfirmBooking()" class="button button-3d nomargin fright">Confirm
                                Booking!</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</section><!-- #content end -->