RewriteEngine on
# RewriteCond %{HTTP_HOST} ^tcc.vectorwebdevelopment.com$
RewriteCond %{REQUEST_URI} !^/landing/
RewriteCond %{REQUEST_URI} !^/app/.*
# Don't change this line.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /landing/$1
# Change yourdomain.com to be your primary domain again.
# Change 'subfolder' to be the folder you will use for your primary domain
# followed by / then the main file for your site, index.php, index.html, etc.
# RewriteCond %{HTTP_HOST} ^tcc.vectorwebdevelopment.com$
RewriteRule ^(/)?$ landing/index.html [L]