---
title: Update Market
body_class: page-aside-left
---

{{#content "css" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/examples/css/forms/layouts.css">
<link rel="stylesheet" href="{{assets}}/vendor/summernote/summernote.css">
{{/content}}

{{#content "css_vendor" mode="append"}}
<link rel="stylesheet" href="{{assets}}/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.css">
{{/content}}

{{#content "js_vendor" mode="append"}}
<script src="{{assets}}/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="{{assets}}/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<script src="{{assets}}/vendor/summernote/summernote.min.js"></script>
{{/content}}

{{#content "js" mode="append"}}
<script src="{{assets}}/js/Plugin/bootstrap-datepicker.js"></script>
<script src="{{assets}}/js/Plugin/panel.js"></script>
<script src="{{assets}}/js/Plugin/jquery-placeholder.js"></script>
<script src="{{assets}}/js/Plugin/summernote.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../../../shared/angular/market/market.module.js"></script>
<script src="../../../shared/angular/market/market.controller.js"></script>
{{/content}}

{{#extend "layout-default"}}

{{#content "body"}}

<!-- Page -->
<div style="max-width: 9999px" class="page" ng-app="edit-market" ng-controller="EditMarketController">
    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon md-chevron-left" aria-hidden="true"></i>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner page-aside-scroll">
            <div data-role="container">
                <div data-role="content">
                    <section class="page-aside-section">
                        <h5 class="page-aside-title">MARKET</h5>
                        <div class="list-group">
                            <a ng-click="selectPanel('profile-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='profile-panel'}" href="">
                                <i class="icon md-account" aria-hidden="true"></i>
                                Profile
                            </a>
                            <a ng-click="selectPanel('pricing-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='pricing-panel'}" href="">
                                <i class="icon md-account-calendar" aria-hidden="true"></i>
                                Pricing
                            </a>
                            <a ng-click="selectPanel('caroler-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='caroler-panel'}" href="">
                                <i class="icon md-money-box" aria-hidden="true"></i> Caroler
                                Configurations
                            </a>
                            <a ng-click="selectPanel('landing-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='landing-panel'}" href="">
                                <i class="icon md-accounts-add" aria-hidden="true"></i> Location
                                Page
                            </a>
                            <a ng-click="selectPanel('availability-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='availability-panel'}" href="">
                                <i class="icon md-folder" aria-hidden="true"></i>
                                Availability
                            </a>
                            <a ng-click="selectPanel('payment-panel')" class="list-group-item" ng-class="{'active':selectedPanel==='payment-panel'}" href="">
                                <i class="icon md-folder" aria-hidden="true"></i>
                                Payment Information
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="page-main">
        <div class="page-header">
            <h1 class="page-title">Editing: <span ng-bind="market.name"></span></h1>
            <div class="page-header-actions">
                <button ng-show="!market.published" ng-click="market.published=true" class="btn btn-outline btn-success">
                    <i class="fa fa-arrow-up"></i>
                    Publish Market
                </button>
                <button ng-show="market.published" ng-click="market.published=false" class="btn btn-outline btn-danger">
                    <i class="fa fa-arrow-down"></i>
                    Un-publish Market
                </button>
            </div>
        </div>
        <div class="page-content container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <div ng-show="selectedPanel==='profile-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Location Details</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="row row-lg">
                                <div class="col-lg-6">
                                    <!-- Example Horizontal Form -->
                                    <div class="example-wrap">
                                        <h4 class="example-title">Location Information</h4>
                                        <p>
                                            Affects pricing information and search results
                                        </p>
                                        <div class="example">
                                            <form name="location" class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">City: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.city"
                                                               type="text" class="form-control" name="name"
                                                               placeholder="City"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">State: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.state"
                                                               type="text" class="form-control"
                                                               placeholder="State"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">Zip: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.zip"
                                                               type="text" class="form-control"
                                                               placeholder="Zip"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">Street Address: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.address"
                                                               type="text" class="form-control"
                                                               placeholder="Address"
                                                               autocomplete="off"
                                                        />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End Example Horizontal Form -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="example-wrap">
                                        <h4 class="example-title">Contact Information</h4>
                                        <p>
                                            This is how customers will know to contact you
                                        </p>
                                        <div class="example">
                                            <form name="contact" class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">Public Phone: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.phone"
                                                               type="text" class="form-control"
                                                               placeholder="Phone Number"
                                                               autocomplete="off"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">Your Email: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.email"
                                                               type="email" class="form-control"
                                                               placeholder="@email.com"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-lg">
                                <div class="col-lg-12">
                                    <h4 class="example-title">Travel Expenses</h4>
                                    <p>The Christmas Carolers will pay $1 per mile over 30 miles of travel ( to the driver )
                                    from the address you provide. We will also pay carolers for any event taking longer than
                                    30 minutes to get to. We will pay carolers $10 per hour for travel time + any
                                    approved expensess prior to the date of the event.</p>
                                    <p>The lead caroler on each event will be asked to provide an estimate of travel
                                    time and any other cost associated with travel ( parking, toll-roads, etc. ).
                                    Please decide for your group the address for which the 30 miles should be centered
                                    upon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedPanel==='pricing-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please provide the following pricing for the season</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="example-title">Per Event Pricing</h4>
                                    <p>We will use the higher rate to calculate increments between hourly rates</p>
                                    <div class="example-wrap">
                                        <form name="configurations" class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">One Hour Per
                                                    Caroler: </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                                      <span class="input-group-addon">
                                                        <span class="icon fa-usd" aria-hidden="true"></span>
                                                      </span>
                                                        <input ng-model="market.hourlyRates['1']"
                                                               type="text" class="form-control"
                                                               placeholder="Hourly rate at one hour">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">Two Hours Per
                                                    Caroler: </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                                      <span class="input-group-addon">
                                                        <span class="icon fa-usd" aria-hidden="true"></span>
                                                      </span>
                                                        <input ng-model="market.hourlyRates['2']"
                                                               type="text" class="form-control"
                                                               placeholder="Hourly rate at two hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">Three Hours Per
                                                    Caroler: </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                                      <span class="input-group-addon">
                                                        <span class="icon fa-usd" aria-hidden="true"></span>
                                                      </span>
                                                        <input ng-model="market.hourlyRates['3']"
                                                               type="text" class="form-control"
                                                               placeholder="Hourly rate at three hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">Four Hours Per
                                                    Caroler: </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                                      <span class="input-group-addon">
                                                        <span class="icon fa-usd" aria-hidden="true"></span>
                                                      </span>
                                                        <input ng-model="market.hourlyRates['4']"
                                                               type="text" class="form-control"
                                                               placeholder="Hourly rate at four hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">Five or More Hours Per
                                                    Caroler: </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                                      <span class="input-group-addon">
                                                        <span class="icon fa-usd" aria-hidden="true"></span>
                                                      </span>
                                                        <input ng-model="market.hourlyRates['5']"
                                                               type="text" class="form-control"
                                                               placeholder="Hourly rate at five or more hours">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="example-title">Season Discounts</h4>
                                    <p></p>
                                    <div class="example-wrap">
                                        <form name="discounts" class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">10 - 20 Hours</label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                  <span class="input-group-addon">
                                    <span class="icon fa-usd" aria-hidden="true"></span>
                                  </span>
                                                        <input ng-model="market.discounts['10-20']"
                                                               type="text" class="form-control"
                                                               placeholder="Discount rate at 10 - 20 season hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">21 - 30 Hours</label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                  <span class="input-group-addon">
                                    <span class="icon fa-usd" aria-hidden="true"></span>
                                  </span>
                                                        <input ng-model="market.discounts['21-30']"
                                                               type="text" class="form-control"
                                                               placeholder="Discount rate at 21 - 30 season hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">31 - 40 Hours</label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                  <span class="input-group-addon">
                                    <span class="icon fa-usd" aria-hidden="true"></span>
                                  </span>
                                                        <input ng-model="market.discounts['31-40']"
                                                               type="text" class="form-control"
                                                               placeholder="Discount rate at 31 - 40 season hours">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label">40+ Hours </label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-icon">
                                  <span class="input-group-addon">
                                    <span class="icon fa-usd" aria-hidden="true"></span>
                                  </span>
                                                        <input ng-model="market.discounts['41+']"
                                                               type="text" class="form-control"
                                                               placeholder="Discount rate at 40+ season hours">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedPanel==='caroler-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Caroler Configurations</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="row row-lg">
                                <div class="col-md-6 col-xl-4">
                                    <!-- Example Checkboxes -->
                                    <div class="example-wrap">
                                        <h4 class="example-title">Please indicate below the caroler group configurations
                                            you offer</h4>
                                        <p>*Required</p>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input ng-model="market.carolerConfigurations.sab"
                                                   type="checkbox" id="trioSAB"/>
                                            <label for="trioSAB">Trio ( S, A, B )</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input ng-model="market.carolerConfigurations.stb"
                                                   type="checkbox" id="trioSTB"/>
                                            <label for="trioSTB">Trio ( S, T, B )</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input ng-model="market.carolerConfigurations.satb"
                                                   type="checkbox" id="quartets" disabled/>
                                            <label for="quartets">*Quartets ( S, A, T, B )</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input ng-model="market.carolerConfigurations.ssattb"
                                                   type="checkbox" id="sixtets"/>
                                            <label for="sixtets">Sixtets ( S, S, A, T, T, B )</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input ng-model="market.carolerConfigurations.ssattbb"
                                                   type="checkbox" id="octets"/>
                                            <label for="octets">Octets ( S, S, A, A, T, T, B, B )</label>
                                        </div>
                                    </div>
                                    <!-- End Example Checkboxes -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedPanel==='landing-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Market Landing Page</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <button type="button" class="btn btn-outline btn-primary" onclick="edit()">Edit</button>
                                <button type="button" class="btn btn-outline btn-primary" onclick="save()">Save</button>
                            </p>
                            <hr/>
                            <div class="landingPageHTML">

                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedPanel==='availability-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Availability</h3>
                        </div>
                        <div class="panel-body">
                            <h4 class="example-title">Availability Dates</h4>
                            <p>Specify any dates that you are not available here.</p>
                            <div class="row">
                                <div ng-repeat="date in market.specialDates" ng-click="log(date)" class="col-md-6 mb-15">
                                    <table>
                                        <tr>
                                            <td ng-if="specialDatesMode==='delete'">
                                                <button ng-click="deleteDate(date)" type="button" class="btn btn-danger">x</button>
                                            </td>
                                            <td><div class="input-daterange" data-plugin="datepicker">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                              <i class="icon wb-calendar" aria-hidden="true"></i>
                                            </span>
                                                    <input ng-model="date.start" type="text" class="form-control" name="start"/>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">to</span>
                                                    <input ng-model="date.end" type="text" class="form-control" name="end"/>
                                                </div>
                                            </div></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-12 ">
                                    <button ng-click="addSpecialDate()" type="button" class="btn btn-success">Add New</button>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <button ng-click="specialDatesMode='delete'" ng-show="specialDatesMode!='delete'" type="button" class="btn btn-danger">Edit</button>
                                    <button ng-click="specialDatesMode='create'" ng-show="specialDatesMode==='delete'" type="button" class="btn btn-success">Stop Editing</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedPanel==='payment-panel'" class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Payment Information</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="row row-lg">
                                <div class="col-lg-12">
                                    <div>
                                        <p>The Christmas Carolers uses SquareCash to send payments to caroling groups. Please visit <a href="https://cash.me">cash.me</a>
                                            and setup an account. Once you've created your account, please enter your SquareCash ID below.</p>
                                        <div class="example">
                                            <form name="location" class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">SquareCash ID: </label>
                                                    <div class="col-md-9">
                                                        <input ng-model="market.squareCash"
                                                               type="text" class="form-control"
                                                               placeholder="Example: $JohnDoe"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

{{/content}}
{{/extend}}