<!-- Page Title
    ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Caroler Dashboard</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:navService.goto('home')">Home</a></li>
            <li class="active">Caroler Dashboard</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="row">
                <div class="fancy-title title-double-border">
                    <h3>Showing Events from <span ng-bind="markets.length"></span> Markets</h3>
                </div>
                <div id="portfolio" class="portfolio portfolio-6 grid-container clearfix" style="position: relative; height: 888px;">

                    <article ng-repeat="market in markets" class="portfolio-item">
                        <div class="portfolio-image">
                            <a>
                                <img ng-src="{{market.image}}" alt="Open Imagination">
                            </a>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a ng-href="market-page.php?market={{market.id}}" ng-bind="market.name"></a></h3>
                            <span ng-bind="market.city+', '+market.state"></span>
                        </div>
                    </article>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#available_events"><strong>AVAILABLE EVENTS</strong></a></li>
                    <li><a data-toggle="tab" href="#booked_events"><b>MY UPCOMING EVENTS</b></a></li>
                    <li><a data-toggle="tab" href="#completed_events"><b>COMPLETED EVENTS</b></a></li>
                </ul>
                <div class="tab-content">
                    <div id="available_events" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-click="s='customer';r=!r"><a href>Customer</a></th>
                                        <th><a>Location</a></th>
                                        <th ng-click="s='date';r=!r"><a href>Date</a></th>
                                        <th ng-click="s='time';r=!r"><a href>Time</a></th>
                                        <th ng-click="s='status';r=!r"><a href>Status</a></th>
                                        <th><a>Available Parts (Click to Claim)</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in available | orderBy:s:r">
                                    <td></td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.address}}</td>
                                    <td><strong>{{row.date}}</strong></td>
                                    <td><label class="label label-primary" ng-bind="row.time"></label> </td>
                                    <td><label class="label label-default">{{row.status}}</label></td>
                                    <td>
                                        <label ng-repeat="part in row.enrollments"
                                               ng-click="handleClaim(row, part)"
                                               class="label label-success mr10 part-label"> {{part.caroler_type}}</label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="booked_events" class="tab-pane fade">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th ng-click="s='customer';r=!r"><a href>Customer</a></th>
                                    <th ng-click="s='date';r=!r"><a href>Date</a></th>
                                    <th ng-click="s='time';r=!r"><a href>Time</a></th>
                                    <th ng-click="s='status';r=!r"><a href>Status</a></th>
                                    <th><a href>Your part</a></th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in booked | orderBy:s:r">
                                    <td></td>
                                    <td>{{row.name}}</td>
                                    <td><strong>{{row.date}}</strong></td>
                                    <td><label class="label label-primary" ng-bind="row.time"></label> </td>
                                    <td><label class="label label-default">{{row.status}}</label></td>
                                    <td>
                                        <label ng-repeat="part in row.enrollments"
                                               ng-click="handleClaim(row, part)"
                                               class="label label-success mr10"> {{part.caroler_type}}</label>
                                    </td>
                                    <td>
                                        <button ng-click="handleWithdraw(row.enrollments[0].id)" class="btn btn-danger">Withdraw</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="completed_events" class="tab-pane fade">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-click="s='customer';r=!r"><a href>Customer</a></th>
                                        <th ng-click="s='date';r=!r"><a href>Date</a></th>
                                        <th ng-click="s='time';r=!r"><a href>Time</a></th>
                                        <th ng-click="s='status';r=!r"><a href>Status</a></th>
                                        <th><a href>Your part</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in past | orderBy:s:r">
                                        <td></td>
                                        <td>{{row.name}}</td>
                                        <td><strong>{{row.date}}</strong></td>
                                        <td><label class="label label-primary" ng-bind="row.time"></label> </td>
                                        <td><label class="label label-default">{{row.status}}</label></td>
                                        <td>
                                            <label ng-repeat="part in row.enrollments"
                                                   ng-click="handleClaim(row, part)"
                                                   class="label label-success mr10 part-label"> {{part.caroler_type}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->