<!-- Page Title
    ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Caroler Dashboard</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:navService.goto(&apos;home&apos;)">Home</a></li>
            <li class="active">Caroler Dashboard</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="table-responsive">
                <div class="heading-block highlight-me">
                    <h2>Available Events</h2>
                    <span>Showing Events you are Eligible for</span>
                </div>
                <table id="datatable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date &amp; Time</th>
                        <th>Status</th>
                        <th>Available Parts</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avail in available_events">
                        <td ng-bind="avail.customer" class="col-cust"></td>
                        <td ng-bind="avail.date_time"></td>
                        <td>
                            <span class="label label-primary">Booked</span>
                            <span ng-if="avail.status === &apos;booked&apos;"
                                  class="label label-primary">Booked</span>
                            <span ng-if="avail.status === &apos;pending&apos;"
                                  class="label label-warning">Pending</span>
                        </td>
                        <td>
                                <span ng-repeat="part in avail.parts" ng-bind="part" class="label label-success"
                                      style="margin-right: 10px">
                                    <!-- Available parts show here -->
                                </span>
                        </td>
                        <td>
                            <a ng-click="handleClaimEvent(event)" href="#"
                               class="button button-rounded button-green button-small button-reveal button-border tright"><i
                                    class="icon-play"></i><span>Claim Event</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <div class="heading-block highlight-me">
                    <h2>Registered Events</h2>
                    <span>Events you are Registered for</span>
                </div>
                <table id="datatable2" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date &amp; Time</th>
                        <th>Status</th>
                        <th>Available Parts</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avail in available_events">
                        <td ng-bind="avail.customer" class="col-cust"></td>
                        <td ng-bind="avail.date_time"></td>
                        <td>
                            <span class="label label-primary">Booked</span>
                            <span ng-if="avail.status === &apos;booked&apos;"
                                  class="label label-primary">Booked</span>
                            <span ng-if="avail.status === &apos;pending&apos;"
                                  class="label label-warning">Pending</span>
                        </td>
                        <td>
                                <span ng-repeat="part in avail.parts" ng-bind="part" class="label label-success"
                                      style="margin-right: 10px">
                                    <!-- Available parts show here -->
                                </span>
                        </td>
                        <td>
                            <a ng-click="handleClaimEvent(event)" href="#"
                               class="button button-rounded button-green button-small button-reveal button-border tright"><i
                                    class="icon-play"></i><span>Claim Event</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section><!-- #content end -->