<section id="page-title">

    <div class="container clearfix">
        <h1>My Account</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Login / Register</li>
        </ol>
    </div>

</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_one_third nobottommargin">

                <div class="well well-lg nobottommargin">
                    <form ng-show="view==='login'" ng-init="view='login'" class="nobottommargin">
                        <h3>Login to your Account</h3>
                        <div class="col_full">
                            <label>Email:</label>
                            <input ng-model="loginForm.email" type="email" class="form-control">
                        </div>

                        <div class="col_full">
                            <label>Password:</label>
                            <input ng-model="loginForm.password" type="password" class="form-control">
                        </div>

                        <div class="col_full nobottommargin">
                            <button ng-click="handleLogin(loginForm)" class="button button-3d nomargin" value="login">Login</button>
                            <a ng-click="view='reset'" href class="fright">Forgot Password?</a>
                        </div>
                    </form>
                    <form ng-show="view==='reset'" class="nobottommargin">
                        <h3>Reset Your Password</h3>
                        <div class="col_full">
                            <label>Email:</label>
                            <input ng-model="resetForm.email" type="email" class="form-control">
                        </div>

                        <div class="col_full nobottommargin">
                            <button ng-click="handleRecover(resetForm)" class="button button-3d nomargin" value="login">Send Email</button>
                            <a ng-click="view='login'" href class="fright">Nevermind, Login</a>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-hide="afterSent || viewResend" class="col_two_third col_last nobottommargin">
                <h3>Don&apos;t have an Account? Register Now.</h3>
                <p>You can expect superior quality when you hire the Christmas Carolers. We cherry-pick our talented
                    singers from music schools across the country.
                    All our carolers are dressed in professionally-designed and award-winning
                    Victorian-styled costumes that invoke the spirit of the season. Our carolers certainly know how
                    to stand out in a crowd!</p>
                <form class="nobottommargin">

                    <div class="col_half">
                        <label>Name:</label>
                        <input ng-model="registerForm.name" class="form-control">
                    </div>

                    <div class="col_half col_last">
                        <label>Email Address:</label>
                        <input ng-model="registerForm.email" type="email" class="email form-control">
                    </div>

                    <div class="clear"></div>

                    <div class="col_half">
                        <label>Choose Password:</label>
                        <input ng-model="registerForm.password" type="password" class="form-control">
                    </div>

                    <div class="col_half col_last">
                        <label>Re-enter Password:</label>
                        <input ng-model="registerForm.passwordConfirm" type="password" class="form-control">
                    </div>

                    <div class="clear"></div>

                    <div class="col_full nobottommargin">
                        <button ng-click="handleRegister(registerForm)" class="button button-3d button-black nomargin" >
                            <img src="/images/preloader-dark.gif" ng-if="ajaxRegister"/>
                            <b ng-hide="ajaxRegister">Register Now</b>
                        </button>

                        <a ng-click="viewResend=true" class="fright" href>Resend Email</a>
                    </div>

                </form>

            </div>

            <div ng-show="afterSent && !viewResend" class="col_two_third col_last nobottommargin center">
                <h3>We sent you an email!</h3>
                <p>It usually takes less than five minutes. Follow the instructions in the email
                to verify your account.</p>
                <form class="nobottommargin">

                    <div class="col_full nobottommargin">
                        <button ng-click="handleResend(registerForm.email)" class="button button-3d button-black nomargin" >
                            <img src="/images/preloader-dark.gif" ng-if="ajaxResend"/>
                            <b ng-hide="ajaxResend">Resend Email</b>
                        </button>
                    </div>

                </form>

            </div>

            <div ng-show="viewResend" class="col_two_third col_last nobottommargin center">
                <h3>Didn't get an Email?</h3>
                <p>Enter your email again here, and we'll resend the verification.</p>
                <form class="nobottommargin" ng-submit="handleResend(resendForm.email)">

                    <div class="col_one_fourth"></div>
                    <div class="col_half col_last">
                        <input ng-model="resendForm.email" type="email" required class="email form-control">
                    </div>

                    <div class="col_full nobottommargin">
                        <button class="button button-3d button-black nomargin" type="submit">
                            <img src="/images/preloader-dark.gif" ng-if="ajaxResend"/>
                            <b ng-hide="ajaxResend">Resend Email</b>
                        </button>
                    </div>
                    <br/>
                    <a ng-click="viewResend=false" href>Go Back</a>

                </form>

            </div>

        </div>

    </div>

</section>