<!-- Page Title
    ============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1 ng-bind="market.name"></h1>
        <span>
            <i class="icon-map-marker"></i>
            <b ng-bind="market.city + ', ' + market.state"></b>
        </span>
        <ol class="breadcrumb">
            <li><a href="javascript:navService.goto('home')">Home</a></li>
            <li><a href="javascript:navService.goto('manage_markets')">Manage Markets</a></li>
            <li class="active" ng-bind="market.name"></li>
        </ol>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs side-tabs nobottommargin clearfix" id="tab-6">

                <ul class="tab-nav tab-nav2 clearfix">
                    <li><a href="#tab-details"><i class="icon-home2"></i> Market Profile</a></li>
                    <li><a href="#tab-location"><i class="icon-browser"></i> Location Page</a></li>
                    <li><a href="#tab-availability"><i class="icon-calendar"></i> Availability</a></li>
                    <li><a href="#tab-caroler"><i class="icon-music"></i> Caroler Configurations</a></li>
                    <li><a href="#tab-pricing"><i class="icon-money"></i> Pricing</a></li>
                </ul>

                <div class="tab-container">

                    <div id="tab-details" class="tab-content clearfix">
                        <form class="nobottommargin">
                            <div class="col_full">
                                <label>Public Market Name:</label>
                                <input ng-model="market.name" type="text" class="sm-form-control">
                            </div>

                            <div class="col_full">
                                <label>Center Address (Used for calculating travel costs):</label>
                                <input ng-model="market.address" type="text" class="sm-form-control">
                            </div>

                            <div class="col_half">
                                <label>State:</label>
                                <tcc-state-select bind="market.state"></tcc-state-select>
                            </div>


                            <div class="col_half col_last">
                                <label>City / Town:</label>
                                <input ng-model="market.city" type="text" class="sm-form-control">
                            </div>

                            <div class="col_half">
                                <label>Primary Email Address:</label>
                                <input ng-model="market.email" type="email" class="sm-form-control">
                            </div>

                            <div class="col_half col_last">
                                <label for="form-phone">Primary Phone:</label>
                                <input ng-model="market.phone" ui-us-phone-number="" type="text" id="form-phone"
                                       name="form-phone" value="" class="sm-form-control">
                            </div>

                        </form>
                    </div>
                    <div id="tab-location" class="tab-content clearfix">
                        <form class="nobottommargin">
                            <div class="col_half">
                                <img ng-src="{{market.image}}">
                            </div>
                            <div class="col_half col_last">
                                <label>Market Bio:</label>
                                <textarea ng-model="market.html" class="sm-form-control" rows="6"
                                          cols="30"></textarea>
                            </div>

                            <div class="clear"></div>

                            <div class="col_full">
                                <label>Market Profile Image</label>
                                <input ng-model="market.image" type="text" class="sm-form-control">
                            </div>

                            <div class="col_full">
                                <label>Gallery Images</label>
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="media in market.mediaLinks">
                                        <td>
                                            <img style="max-height: 100px;max-width: 100px" ng-src="{{media.url}}">
                                        </td>
                                        <td ng-bind="media.url" ng-if="!editing_gallery">
                                            <!-- Image URL -->
                                        </td>
                                        <td ng-if="editing_gallery">
                                            <input ng-model="media.url" type="text" class="sm-form-control">
                                        </td>
                                        <td ng-if="editing_gallery">
                                            <button ng-click="deleteGalleryImage(media)" class="btn btn-danger">x
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button ng-click="addGalleryImage()" class="btn btn-primary">+ Add</button>
                                <button ng-click="editing_gallery=!editing_gallery" ng-hide="editing_gallery"
                                        class="btn btn-danger"> Edit
                                </button>
                                <button ng-click="editing_gallery=!editing_gallery" ng-show="editing_gallery"
                                        class="btn btn-success"> Stop Editing
                                </button>
                            </div>

                        </form>
                    </div>
                    <div id="tab-caroler" class="tab-content clearfix">
                        <h2>Caroler Configurations</h2>
                        <p>Select below the caroler group configurations your group offers</p>
                        <div>
                            <input ng-model="market.carolerConfigs.trio_sab" id="sab" class="checkbox-style"
                                   type="checkbox">
                            <label for="sab" class="checkbox-style-3-label">Trio ( S, A, B )</label>
                        </div>
                        <div>
                            <input ng-model="market.carolerConfigs.trio_stb" id="stb" class="checkbox-style"
                                   type="checkbox">
                            <label for="stb" class="checkbox-style-3-label">Trio ( S, T, B )</label>
                        </div>
                        <div>
                            <input ng-model="market.carolerConfigs.quartet" id="satb" class="checkbox-style"
                                   type="checkbox" checked disabled>
                            <label for="satb" class="checkbox-style-3-label">Quartets ( S, A, T, B )</label>
                        </div>
                        <div>
                            <input ng-model="market.carolerConfigs.sixtet" id="ssattb" class="checkbox-style"
                                   type="checkbox">
                            <label for="ssattb" class="checkbox-style-3-label">Sixtets ( S, S, A, T, T, B )</label>
                        </div>
                        <div>
                            <input ng-model="market.carolerConfigs.octet" id="ssaattbb" class="checkbox-style"
                                   type="checkbox">
                            <label for="ssaattbb" class="checkbox-style-3-label">Octets ( S, S, A, A, T, T, B, B
                                )</label>
                        </div>
                    </div>
                    <div id="tab-pricing" class="tab-content clearfix">
                        <h5>Please provide the following pricing for the season</h5>
                        <div class="col_half col_last">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><label>First Hour: </label></td>
                                    <td>
                                        <input ng-model="market.rate_caroler_first" ui-money-mask="0" type="text"
                                               class="sm-form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Second Hour: </label></td>
                                    <td>
                                        <input ng-model="market.rate_caroler_second" ui-money-mask="0" type="text"
                                               class="sm-form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Third Hour: </label></td>
                                    <td>
                                        <input ng-model="market.rate_caroler_third" ui-money-mask="0" type="text"
                                               class="sm-form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Fourth Hour: </label></td>
                                    <td>
                                        <input ng-model="market.rate_caroler_fourth" ui-money-mask="0" type="text"
                                               class="sm-form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Fifth or Beyond Hours: </label></td>
                                    <td>
                                        <input ng-model="market.rate_caroler_fifth" ui-money-mask="0" type="text"
                                               class="sm-form-control">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-availability" class="tab-content clearfix">
                        <h2>Special Dates</h2>
                        <div ng-repeat="date in market.specialDates" class="col_full row">
                            <div ng-show="editing_special_dates" class="col-sm-1">
                                <label>Delete</label>
                                <button ng-click="deleteSpecialDate(date)" class="btn btn-danger">x</button>
                            </div>
                            <div ng-class="getEditClass()">
                                <label>Date Range</label>
                                <tcc-date-range to="date.date_to" from="date.date_from"></tcc-date-range>
                            </div>
                            <div class="col-sm-3">
                                <label>Allow AutoBook</label>
                                <select ng-model="date.available"
                                        ng-options="option.val as option.label for option in availOpts"
                                        class="sm-form-control">
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Price Scale:</label>
                                <input ng-model="date.pricing_scale" type="number" class="sm-form-control"
                                       placeholder="0.5 = half price">
                            </div>
                        </div>
                        <br>
                        <button ng-click="createSpecialDate()" class="btn btn-primary"> + Add Date</button>
                        <button ng-hide="editing_special_dates" ng-click="editing_special_dates = true"
                                class="btn btn-danger">
                            Edit
                        </button>
                        <button ng-show="editing_special_dates" ng-click="editing_special_dates = false"
                                class="btn btn-success"> Stop Editing
                        </button>
                    </div>
                </div>

            </div>

            <div class="action-buttons-wrapper">
                <button ng-click="updateMarket()" class="btn btn-success mr15"> Save Changes</button>

                <button ng-show="market.published === 0" ng-click="publishMarket()"
                        class="btn btn-success btn-outline">
                    <i class="icon-arrow-up"></i> &#xA0; Publish Market
                </button>
                <button ng-show="market.published === 1" ng-click="unpublishMarket()"
                        class="btn btn-danger btn-outline">
                    <i class="icon-arrow-down"></i>&#xA0; Un-publish Market
                </button>

            </div>
        </div>

    </div>

</section><!-- #content end -->