<!-- Page Title
    ============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Caroler List</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:navService.goto('home')">Home</a></li>
            <li class="active">Caroler List</li>
        </ol>
    </div>
</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="table-responsive">
                <div class="col_half">
                    <div class="heading-block highlight-me">
                        <h2>Reseller Profiles</h2>
                        <span>Create, Update, Delete, and View Resellers</span>
                    </div>
                </div>
                <div class="col_half col_last">
                    <button ng-click="create()" class="btn btn-primary pull-right"> + Create a Reseller </button>
                </div>

                <table id="datatable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th ng-repeat="header in headers" ng-bind="header"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td ng-bind="row.name"></td>
                        <td ng-bind="row.description"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                x
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Create New Promotion</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <form class="nobottommargin">

                                    <div class="form-process"></div>

                                    <div class="col_half">
                                        <label>Name
                                            <small>*</small>
                                        </label>
                                        <input ng-model="form.name" type="text"
                                               class="sm-form-control required">
                                    </div>

                                    <div class="col_half col_last">
                                        <label>Code</label>
                                        <label ng-if="form.promotion_id" ng-bind="form.promotion_id" class="label label-primary txt-md"></label>
                                        <label class="label label-default txt-md">( Will be generated )</label>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="col_full">
                                        <label> Address </label>
                                        <input ng-model="form.address" type="text"
                                               class="sm-form-control required">
                                    </div>

                                    <div class="clear"></div>

                                    <div class="col_full">
                                        <button ng-click="submit()" name="submit" tabindex="5"
                                                class="button button-3d nomargin">Submit
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->