<thead>
<tr>
    <th>Status</th>
    <th>To</th>
    <th>Sent</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="inv in invites">
    <td><label ng-bind="inv.status" class="label label-success">delivered</label> </td>
    <td ng-bind="inv.to">markotto@gmail.com</td>
    <td ng-bind="inv.sent">8/11/2017</td>
    <td>
        <button ng-click="handleResend(inv)" class="btn btn-primary btn-sm" title="Resend"><i class="icon-refresh2"  ></i> </button>
        <button ng-click="handleCancel(inv)" class="btn btn-danger btn-sm"  title="Reject"><i class="icon-remove"    ></i> </button>
    </td>
</tr>
</tbody>