---
title: The Christmas Carolers
---

{{#extend "layout-default"}}

  {{#content "css_vendor" mode="append"}}
  <link rel="stylesheet" href="{{assets}}/vendor/toastr/toastr.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
  <link rel="stylesheet" href="{{assets}}/examples/css/advanced/toastr.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
  <script src="{{assets}}/vendor/toastr/toastr.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
  <script src="{{assets}}/js/Plugin/toastr.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-content container-fluid">
        <!-- Blank -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}