<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-pattern page-title-center">

    <div class="container clearfix">
        <h1>Admin Events View</h1>
        <span>Here, you can see all events across the application</span>
    </div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="table-responsive">
                <table id="datatable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Event Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in events">
                        <td class="col-cust">
                            <a href>
                                <img ng-src="{{event.user.image}}" width="40px"/>
                            </a>
                        </td>
                        <td class="col-cust txt-sm">
                            <b>{{event.user.name}}</b>
                        </td>
                        <td><a ng-href="/event-single.php?booking={{event.id}}">{{event.name}}</a></td>
                        <td class="col-cust">
                            <b>{{event.address}}</b>
                            <br/>
                            <small>{{event.city+', '+event.state}}</small>
                        </td>
                        <td>
                            <tcc-status status="event.status"></tcc-status>
                        </td>
                        <td>{{fmt(event.start_time)}}</td>
                        <td>
                            <button class="btn btn-default" ng-click="viewOrder(event)">View Order</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                x
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Event Order Summary
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-default"
                                 ng-class="{
                                    'overduePanel': event.status === 'overdue'
                                 }">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <small>ORDER PLACED</small>
                                            <h2 class="panel-title">{{fmt(event.created_at)}}</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <small>TOTAL</small>
                                            <h2 class="panel-title">${{event.invoice.total / 100}}</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <small>EVENT DATE</small>
                                            <h2 class="panel-title">{{fmt(event.start_time)}}</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <small>OPEN BALANCE</small>
                                            <h2 class="panel-title" style="color: red">${{event.invoice.balance / 100}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <img src="/images/logo-red.png"/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4 class="nobottommargin"><a ng-href="/event-single.php?booking={{event.id}}">{{event.name}}</a> </h4>
                                                <p class="nobottommargin">{{event.city+', '+event.state+', '+event.address}}</p>
                                                <small>hosted by <b><a ng-href="/market-page.php?market={{event.market_id}}">Demo Market Name</a> </b></small>
                                            </div>
                                            <div class="col-md-12" ng-if="event">
                                                <br/>
                                                <tcc-event-details booking="event"></tcc-event-details>
                                            </div>
                                            <button ng-click="recordPayment(event)" class="btn btn-primary pull-right">Record Payment</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->