<div class="modal-dialog modal-md" id="modal">
    <div class="modal-body">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    x
                </button>
                <h4 class="modal-title" id="myModalLabel">Invite a Caroler</h4>
            </div>
            <div class="modal-body">
                <form class="nobottommargin">
                    <div class="col_full">
                        <label> Caroler Email </label>
                        <input ng-model="form.email" type="email" class="sm-form-control" required placeholder="jonsnow@dragonstone.com">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="handleForm(form)" class="btn btn-primary pull-right">Send >></button>
            </div>
        </div>
    </div>
</div>