<!-- Page Title
    ============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Caroler List</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:navService.goto('home')">Home</a></li>
            <li class="active">Caroler List</li>
        </ol>
    </div>
</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="table-responsive">
                <div class="heading-block highlight-me">
                    <h2>Active Promotions</h2>
                    <span>Create, Update, Delete, and View Promotions</span>
                </div>
                <table id="datatable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Discount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td ng-bind="row.name" class="col-cust"></td>
                        <td ng-bind="row.email"></td>
                        <td>
                            <span ng-if="row.pricing_scale"
                                    class="label label-success">
                                $ <b ng-bind="row.pricing_scale"></b>
                            </span>
                            <span ng-if="row.pricing_offset"
                                  class="label label-success">
                                <b ng-bind="row.pricing_offset"></b> %
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-danger"> End </button>
                            <button class="btn btn-primary"> View </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col_full">
                <button class="btn btn-primary pull-right"> + Add New </button>
            </div>
        </div>

    </div>

</section><!-- #content end -->