<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-pattern page-title-center">

    <div class="container clearfix">
        <h1>Active Carolers</h1>
        <span>See all active carolers here</span>
    </div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div id="loading-container" ng-hide="ready">
                <div id="loader"></div>
            </div>
            <div class="table-responsive" ng-show="ready">
                <table id="datatable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>W9</th>
                        <th>Performance Agreement</th>
                        <th>Square Cash</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in carolers">
                        <td class="col-cust">
                            <a ng-href="/caroler-single.php?caroler={{row.id}}">
                                <img ng-src="{{row.image}}" width="40px"/>
                            </a>
                        </td>
                        <td class="col-cust">
                            <a ng-href="/caroler-single.php?caroler={{row.id}}">
                                <b>{{row.name}}</b>
                            </a>
                        </td>
                        <td ng-bind="row.email"></td>
                        <td>
                            {{row.phone}}
                        </td>
                        <td class="center">
                            <button ng-show="row.caroler_profile.w9" ng-click="loadW9(row)" class="btn btn-default btn-sm">open</button>
                        </td>
                        <td class="center">
                            <button ng-show="row.caroler_profile.performance_agreement" ng-click="loadPerfAgreement(row)" class="btn btn-default btn-sm">open</button>
                        </td>
                        <td>
                            {{row.caroler_profile.square_cash}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                x
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                {{modalTitle}}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <h2 ng-if="doc_error" style="color: red">Hmm.. something went wrong loading the document</h2>
                            <iframe ng-hide="doc_error" id="frame" src="" width="100%" height="700px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->