<section id="page-title">

    <div class="container clearfix">
        <h1>Become a Caroler</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Caroler Application</li>
        </ol>
    </div>

</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_one_third nobottommargin">

                <div class="well well-lg nobottommargin">
                    <form class="nobottommargin" ng-if="ready" >
                    <h3>Choose Your Market:</h3>
                    <tcc-select-picker bind="form.market" options="markets"></tcc-select-picker>
                        <p></p>
                        <img ng-src="{{imagemap[form.market]}}" />
                    </form>
                </div>
            </div>

            <div class="col_two_third col_last nobottommargin">
                <h3>Welcome to The Christmas Carolers!</h3>
                <p>Want to become a caroler for The Christmas Carolers? The pay is great and the experience
                    is even better. Apply to become a caroler in one of our core markets. Upon submission of this form, a city director
                    will get back to you with more information.</p>
                <form class="nobottommargin">

                    <div class="col_half">
                        <label>Name:</label>
                        <input ng-model="registerForm.name" class="form-control">
                    </div>

                    <div class="col_half col_last">
                        <label>Email Address:</label>
                        <input ng-model="registerForm.email" type="email" class="email form-control">
                    </div>

                    <div class="clear"></div>

                    <div class="col_half">
                        <label>Choose Password:</label>
                        <input ng-model="registerForm.password" type="password" class="form-control">
                    </div>

                    <div class="col_half col_last">
                        <label>Re-enter Password:</label>
                        <input ng-model="registerForm.passwordConfirm" type="password" class="form-control">
                    </div>

                    <div class="clear"></div>

                    <div class="col_full nobottommargin">
                        <button ng-click="handleRegister(registerForm)" class="button button-3d button-black nomargin" >Apply Now
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</section>