<section id="content">

    <div class="content-wrap">

        <div class="parallax header-stick bottommargin-lg dark"
             style="padding: 60px 0; background-image: url('images/red_deer.jpg'); height: 100%;"
             data-stellar-background-ratio="0.5">

            <div class="container clearfix">

                <div class="events-calendar">
                    <div class="events-calendar-header clearfix">
                        <!--<h2>Events Overview</h2>-->
                        <h3 class="calendar-month-year">
                            <span id="calendar-month" class="calendar-month"></span>
                            <span id="calendar-year" class="calendar-year"></span>
                            <nav>
                                    <span id="calendar-prev" class="calendar-prev"><i
                                            class="icon-chevron-left"></i></span>
                                <span id="calendar-next" class="calendar-next"><i
                                        class="icon-chevron-right"></i></span>
                                <span id="calendar-current" class="calendar-current" title="Got to current date"><i
                                        class="icon-reload"></i></span>
                            </nav>
                        </h3>
                    </div>
                    <div id="calendar" class="fc-calendar-container"></div>
                </div>


            </div>

        </div>

        <div class="container clearfix">


            <!-- Post Content
					============================================= -->
            <div class="postcontent nobottommargin clearfix">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#upcoming"><strong>UPCOMING</strong></a></li>
                        <li><a data-toggle="tab" href="#past"><b>PAST</b></a></li>
                        <li><a data-toggle="tab" href="#canceled"><b>CANCELED</b></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="upcoming" class="tab-pane fade in active" style="padding: 30px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="event in upcoming" class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <small>ORDER PLACED</small>
                                                    <h2 class="panel-title">{{fmtDate(event.created_at)}}</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>TOTAL</small>
                                                    <h2 class="panel-title">$450</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>EVENT DATE</small>
                                                    <h2 class="panel-title">{{fmtDate(event.start_time)}}</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>OPEN BALANCE</small>
                                                    <h2 class="panel-title" style="color: red">$200</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="col-md-4">
                                                        <img class="image_fade" src="/images/logo-red.png" style="width: 100%">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h4 class="nobottommargin"><a ng-href="/event-single.php?booking={{event.id}}">{{event.name}}</a> </h4>
                                                        <p class="nobottommargin">{{event.city+', '+event.state+', '+event.address}}</p>
                                                        <small>hosted by <b><a ng-href="/market-page.php?market={{event.market_id}}">Demo Market Name</a> </b></small>
                                                    </div>
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-default btn-block">Submit Payment</button>
                                                    <hr/>
                                                    <button class="btn btn-default btn-block">View Invoice</button>
                                                    <button class="btn btn-default btn-block">Transactions</button>
                                                    <button class="btn btn-danger btn-block">Cancel Order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="past" class="tab-pane fade" style="padding: 30px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="event in past" class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <small>ORDER PLACED</small>
                                                    <h2 class="panel-title">{{fmtDate(event.created_at)}}</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>TOTAL</small>
                                                    <h2 class="panel-title">$450</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>EVENT DATE</small>
                                                    <h2 class="panel-title">{{fmtDate(event.start_time)}}</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>OPEN BALANCE</small>
                                                    <h2 class="panel-title" style="color: red">$200</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="col-md-4">
                                                        <img class="image_fade" src="/images/logo-red.png" style="width: 100%">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h4 class="nobottommargin"><a ng-href="/event-single.php?booking={{event.id}}">{{event.name}}</a> </h4>
                                                        <p class="nobottommargin">{{event.city+', '+event.state+', '+event.address}}</p>
                                                        <small>hosted by <b><a ng-href="/market-page.php?market={{event.market_id}}">Demo Market Name</a> </b></small>
                                                    </div>
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-default btn-block">View Invoice</button>
                                                    <button class="btn btn-default btn-block">Transactions</button>
                                                    <button class="btn btn-default btn-block">Leave Feedback</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="canceled" class="tab-pane fade in" style="padding: 30px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <small>ORDER PLACED</small>
                                                    <h2 class="panel-title">9/2/2017</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>TOTAL</small>
                                                    <h2 class="panel-title">$450</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>EVENT DATE</small>
                                                    <h2 class="panel-title">9/25/2017</h2>
                                                </div>
                                                <div class="col-md-3">
                                                    <small>OPEN BALANCE</small>
                                                    <h2 class="panel-title" style="color: red">$200</h2>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="col-md-4">
                                                        <img class="image_fade" src="/images/logo-red.png" style="width: 100%">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h4 class="nobottommargin"><a href>Demo Christmas Party</a> </h4>
                                                        <p class="nobottommargin">Birmingham, AL, 35205</p>
                                                        <small>hosted by <b><a href>The Birmingham Carolers</a> </b></small>
                                                    </div>
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-default btn-block">Submit Payment</button>
                                                    <hr/>
                                                    <button class="btn btn-default btn-block">View Invoice</button>
                                                    <button class="btn btn-default btn-block">Transactions</button>
                                                    <button class="btn btn-default btn-block">Leave Feedback</button>
                                                    <button class="btn btn-danger btn-block">Cancel Order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .postcontent end -->


            <!-- Sidebar
					============================================= -->
            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                    </div>

                </div>
            </div><!-- .sidebar end -->

        </div>
    </div>

</section>