---
title: Market
body_class: page-aside-left
---

{{#extend "layout-default"}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-aside">
          <!---page-aside-inner-->
          <div class="page-aside-switch">
              <i class="icon md-chevron-left" aria-hidden="true"></i>
              <i class="icon md-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="page-aside-inner page-aside-scroll">
              <div data-role="container">
                  <div data-role="content">
                      <section class="page-aside-section">
                          <h5 class="page-aside-title">MARKET</h5>
                          <div class="list-group">
                              <a class="list-group-item {{#active 'director-market-profile.html'}}active{{/active}}" href="director-market-profile.html">
                                  <i class="icon md-account" aria-hidden="true"></i>
                                  Profile
                              </a>
                              <a class="list-group-item {{#active 'director-market-location.html'}} active{{/active}}" href="director-market-location.html">
                                  <i class="icon md-accounts-add" aria-hidden="true"></i>
                                  Location Page
                              </a>
                              <a class="list-group-item {{#active 'director-market-carolers.html'}} active{{/active}}" href="director-market-carolers.html">
                                  <i class="icon md-money-box" aria-hidden="true"></i>
                                  Caroler Configurations
                              </a>
                              <a class="list-group-item {{#active 'director-market-pricing.html'}} active{{/active}}" href="director-market-pricing.html">
                                  <i class="icon md-account-calendar" aria-hidden="true"></i>
                                  Pricing
                              </a>
                              <a class="list-group-item {{#active 'director-market-availability.html'}} active{{/active}}" href="director-market-availability.html">
                                  <i class="icon md-folder" aria-hidden="true"></i>
                                  Availability
                              </a>
                              <a class="list-group-item {{#active 'director-market-travel.html'}} active{{/active}}" href="director-market-travel.html">
                                  <i class="icon md-assignment-check" aria-hidden="true"></i>
                                  Travel Expenses
                              </a>
                              <a class="list-group-item {{#active 'director-market-payment.html'}} active{{/active}}" href="director-market-payment.html">
                                  <i class="icon md-folder" aria-hidden="true"></i>
                                  Payment Information
                              </a>
                          </div>
                      </section>
                  </div>
              </div>
          </div>
        <!---page-aside-inner-->
      </div>
      <div class="page-main">
          {{#block "page-main"}}
              <h2>Hello World</h2>
          {{/block}}
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}