<footer class="site-footer">
  <div class="site-footer-legal">© 2017 <a href="//thechristmascarolers.com">The Christmas Carolers</a></div>
  <div class="site-footer-right">
    Website by by <a href="http://themeforest.net/user/amazingSurge">Chris Rocco</a>
  </div>
</footer>