<ul class="site-menu" data-plugin="menu">
    <li class="site-menu-item {{#active 'index.html'}} active open{{/active}}">
        <a href="#">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Placeholder </span>
        </a>
    </li>
    <li class="tccIfCaroler site-menu-item {{#active 'index.html'}} active open{{/active}}">
        <a href="#">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> You're a Caroler! </span>
        </a>
    </li>
    <li class="tccIfDirector site-menu-item {{#active 'index.html'}} active open{{/active}}">
        <a href="#">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title">  You're a Director!  </span>
        </a>
    </li>
    <li class="tccIfCustomer site-menu-item {{#active 'index.html'}} active open{{/active}}">
        <a href="#">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> You're a Customer! </span>
        </a>
    </li>
</ul>